setting.js
[{"id":"30b997c4.1ae098","type":"tab","label":"FIDER API","disabled":false,"info":""},{"id":"17550b7b.9c9b45","type":"function","z":"30b997c4.1ae098","name":"Prepare","func":"// Load Credentials\nmsg.credentials = [];\nvar user = {};\nuser.email = \"can@amdtelecom.net\";\nuser.key = \"Mf14XrE0cHvpfTsieWJGH1CS6q39mErfAhnkNWdNsikJ6AKVI9FdQ7rQdXh75aGj\";\nmsg.credentials.push(user);\n\nuser = {};\nuser.email = \"sandronikos@amdtelecom.net\";\nuser.key = \"dXbZYFMKNi3YGWnUTtKOtJ0JBLKfbvwHt2BVM6wTHnJYkd0uWAjXEg0gsuSejTYI\";\nmsg.credentials.push(user);\n\n// End of Load\n\nmsg.tagInfo = {};\nmsg.tagInfo.type = msg.type;\nmsg.tagInfo.platform = \"Platform: \" + msg.pre_payload[\"Platform\"];\nmsg.tagInfo.service = \"Service: \" + msg.pre_payload[\"Service of interest\"];\nmsg.tagInfo.importance = \"\";\nif(msg.pre_payload[\"Importance\"] !== undefined)\n{\n    msg.tagInfo.importance = \"Importance: \" + msg.pre_payload[\"Importance\"];\n}\n\nmsg.tagInfo.email = \"\";\nif(msg.pre_payload[\"Email\"] !== undefined)\n{\n    msg.tagInfo.email = msg.pre_payload[\"Email\"];\n}\nelse\nif(msg.pre_payload[\"My email\"] !== undefined)\n{\n     msg.tagInfo.email = msg.pre_payload[\"My email\"];\n}\n\nmsg.tagInfo.key = \"\";\nmsg.tagInfo.found = false;\nfor(const i in msg.credentials)\n{\n    if(msg.tagInfo.email ===  msg.credentials[i].email)\n    {\n        msg.tagInfo.key = msg.credentials[i].key;\n        msg.tagInfo.found = true;\n    }\n}\n\nif(!msg.tagInfo.found)\n{\n    msg.tagInfo.key = \"Mf14XrE0cHvpfTsieWJGH1CS6q39mErfAhnkNWdNsikJ6AKVI9FdQ7rQdXh75aGj\";\n}\n\n// Create Title\nmsg.title = \"\";\nif(msg.pre_payload[\"Short title of the bug\"] !== undefined)\n{\n    msg.title = msg.pre_payload[\"Short title of the bug\"];\n}\nelse\nif(msg.pre_payload[\"Short title of the request\"] !== undefined)\n{\n    msg.title = msg.pre_payload[\"Short title of the request\"];\n}\nelse\nif(msg.pre_payload[\"Short title of the Improvement\"] !== undefined)\n{\n    msg.title = msg.pre_payload[\"Short title of the Improvement\"];\n}\nelse\nif(msg.pre_payload[\"Short title of the feature\"] !== undefined)\n{\n    msg.title = msg.pre_payload[\"Short title of the feature\"];\n}\nelse\nif(msg.pre_payload[\"Description of the bug\"] !== undefined)\n{\n    msg.title = msg.pre_payload[\"Description of the bug\"];\n}\n\n// Prepare Post\nmsg.txt = \"\";\nfor(const x in msg.pre_payload)\n{\n    if(x!== \"filesUpload\")\n    {\n        if(msg.tagInfo.found)\n        {\n            if( x!== \"First Name\" && x!== \"Last Name\" && x!== \"Phone\" && x!== \"Email\" && x!== \"Platform\" && x!== \"Service of interest\" && x!== \"Importance\" && \n                x!== \"Short title of the bug\" && x!== \"Short title of the request\" && x!== \"Short title of the Improvement\" && \n                x!== \"Short title of the feature\" && x!== \"Description of the bug\"\n            )\n                msg.txt +=  \"\" + x + \"  :  \" + msg.pre_payload[x] + \"\\r\\n\";\n        }\n        else\n        {\n            msg.txt +=  \"\" + x + \"  :  \" + msg.pre_payload[x] + \"\\r\\n\";\n        }\n\n    }\n    else\n    {\n        msg.txt += \" \" + x + \"  : \";\n        for(const i in msg.pre_payload[x])\n        {\n            msg.txt += i + \"\\r\\n\";\n            break;\n        }\n    }\n}\n\nmsg.payload = {\n  \"title\": msg.title,\n  \"description\": msg.txt\n};\n\n\nmsg.headers = {};\nmsg.headers.Authorization = \"Bearer \" + msg.tagInfo.key;\nmsg[\"Content-Type\"] = \"application/json\";\n    \nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["8bedee0d.f598d"]]},{"id":"1339428c.baf31d","type":"http request","z":"30b997c4.1ae098","name":"List","method":"GET","ret":"obj","paytoqs":false,"url":"http://feedback.int.amdtelecom.net/api/v1/posts","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":600,"wires":[["9038eadf.ee1a98"]]},{"id":"af09e1ca.75e56","type":"inject","z":"30b997c4.1ae098","name":"","topic":"","payload":"{\"First Name\":\"Demo\",\"Last Name\":\"Ignore\",\"Phone\":\"+306985123654\",\"Email\":\"sandronikos@amdtelecom.net\",\"Platform\":\"WayMore Forms\",\"Service of interest\":\"WAYMORE FORMS\",\"Operating System Tested\":\"Windows\",\"Browser Tested\":[\"Chrome\"],\"Browser Version\":\"v12\",\"Description of the bug\":\"Testing for uploading an image\",\"Description of what you expected\":\"Demo Testing\",\"Source URL that the bug was displayed\":\"https://wayforms.routee.net/p89100911891/\",\"filesUpload\":{\"3rdPage.pdf\":\"JVBERi0xLuMAA4...\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["c798736b.b86ce","86a5a6c1.455538"]]},{"id":"9038eadf.ee1a98","type":"debug","z":"30b997c4.1ae098","name":"List","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":600,"wires":[]},{"id":"374d8f61.c5de8","type":"http request","z":"30b997c4.1ae098","name":"Create A Post","method":"POST","ret":"obj","paytoqs":false,"url":"https://feedback.int.amdtelecom.net/api/v1/posts","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":520,"wires":[["7ad9f311.0ce25c"]]},{"id":"7ad9f311.0ce25c","type":"debug","z":"30b997c4.1ae098","name":"Create","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":520,"wires":[]},{"id":"8bedee0d.f598d","type":"debug","z":"30b997c4.1ae098","name":"TEST","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":300,"wires":[]},{"id":"66087910.e0ad98","type":"http request","z":"30b997c4.1ae098","name":"Assign Tag","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":820,"wires":[["463e912a.6a77f"]]},{"id":"463e912a.6a77f","type":"debug","z":"30b997c4.1ae098","name":"Tag","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":820,"wires":[]},{"id":"ed912aa5.c89018","type":"http request","z":"30b997c4.1ae098","name":"Tags","method":"GET","ret":"obj","paytoqs":false,"url":"http://feedback.int.amdtelecom.net/api/v1/tags","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":540,"wires":[["351ae319.84fc6c"]]},{"id":"351ae319.84fc6c","type":"debug","z":"30b997c4.1ae098","name":"List Tags","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":300,"y":540,"wires":[]},{"id":"577d124.28ce5ec","type":"inject","z":"30b997c4.1ae098","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":780,"wires":[["95a16ee0.9fb25"]]},{"id":"95a16ee0.9fb25","type":"change","z":"30b997c4.1ae098","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.Authorization","pt":"msg","to":"Bearer dXbZYFMKNi3YGWnUTtKOtJ0JBLKfbvwHt2BVM6wTHnJYkd0uWAjXEg0gsuSejTYI","tot":"str"},{"t":"set","p":"Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":700,"wires":[["793cd6d.b3d4d28"]]},{"id":"793cd6d.b3d4d28","type":"function","z":"30b997c4.1ae098","name":"Prepare API Call","func":"msg.payload = {};\nmsg.payload.id = 21;\nmsg.payload.slug = \"service-waymore-forms\";\n\nmsg.url = \"https://feedback.int.amdtelecom.net/api/v1/posts/\"+msg.payload.id+\"/tags/\"+msg.payload.slug;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":760,"wires":[["66087910.e0ad98"]]},{"id":"7c089b4.b37bf64","type":"inject","z":"30b997c4.1ae098","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1000,"wires":[["26d350e6.9dfc3"]]},{"id":"d9e98fb1.11a7c","type":"change","z":"30b997c4.1ae098","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.Authorization","pt":"msg","to":"Bearer dXbZYFMKNi3YGWnUTtKOtJ0JBLKfbvwHt2BVM6wTHnJYkd0uWAjXEg0gsuSejTYI","tot":"str"},{"t":"set","p":"Content-Type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":920,"wires":[[]]},{"id":"5fd474e0.21768c","type":"http request","z":"30b997c4.1ae098","name":"Tags","method":"GET","ret":"obj","paytoqs":false,"url":"http://feedback.int.amdtelecom.net/api/v1/tags","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":1080,"wires":[["839da20a.c005"]]},{"id":"ee671fa8.83973","type":"debug","z":"30b997c4.1ae098","name":"List Tags","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":140,"y":1240,"wires":[]},{"id":"839da20a.c005","type":"function","z":"30b997c4.1ae098","name":"Create Tags List","func":"// {\"id\":54,\"name\":\"Importance: Critical\",\"slug\":\"importance-critical\",\"color\":\"46D450\",\"isPublic\":true}\n\nmsg.tags = [];\nfor(const x in msg.payload)\n{\n    msg.info = {};\n    msg.info.name = msg.payload[x].name;\n    msg.info.slug = msg.payload[x].slug;\n    \n    msg.tags.push(msg.info);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":1140,"wires":[["ee671fa8.83973","cd157004.a382d"]]},{"id":"85853828.0c0538","type":"comment","z":"30b997c4.1ae098","name":"List Tags","info":"","x":160,"y":940,"wires":[]},{"id":"5efe02d3.d0766c","type":"comment","z":"30b997c4.1ae098","name":"Assign a Tag","info":"","x":170,"y":680,"wires":[]},{"id":"cd157004.a382d","type":"function","z":"30b997c4.1ae098","name":"Search Slug","func":"msg.search_tag = \"Platform: ABP\";\nmsg.search_tag = \"Service: Viber\";\nmsg.find_slug = \"\";\n\nfor(const i in msg.tags)\n{\n    if(msg.search_tag === msg.tags[i].name)\n    {\n        msg.find_slug = msg.tags[i].slug;\n        break;\n    }\n}\n\nmsg.payload = msg.find_slug;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1140,"wires":[["60f34484.87807c"]]},{"id":"60f34484.87807c","type":"debug","z":"30b997c4.1ae098","name":"Slug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":1140,"wires":[]},{"id":"4f3baadb.2f7b34","type":"comment","z":"30b997c4.1ae098","name":"Find Slug","info":"","x":540,"y":1080,"wires":[]},{"id":"26d350e6.9dfc3","type":"function","z":"30b997c4.1ae098","name":"Init","func":"msg.headers = {};\nmsg.headers.Authorization = \"Bearer dXbZYFMKNi3YGWnUTtKOtJ0JBLKfbvwHt2BVM6wTHnJYkd0uWAjXEg0gsuSejTYI\";\nmsg[\"Content-Type\"] = \"application/json\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1000,"wires":[["5fd474e0.21768c"]]},{"id":"f15217c8.948b28","type":"inject","z":"30b997c4.1ae098","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1400,"wires":[["8cb3aa91.c68548"]]},{"id":"8cb3aa91.c68548","type":"function","z":"30b997c4.1ae098","name":"Init","func":"msg.pre_payload = {}\nmsg.pre_payload[\"New employee&#39;s personal e-mail\"] = \"sandronikos@amdtelecom.net\";\nmsg.pre_payload[\"First Name\"] = \"Demo\";\nmsg.pre_payload[\"Last Name\"] = \"Ignore\";\n\nvar user = {};\nuser.email = \"can@amdtelecom.net\";\nuser.key = \"Mf14XrE0cHvpfTsieWJGH1CS6q39mErfAhnkNWdNsikJ6AKVI9FdQ7rQdXh75aGj\";\n\n\n// End of Load\nmsg.UserInfo = {};\nmsg.UserInfo.email = msg.pre_payload[\"New employee&#39;s personal e-mail\"];\nmsg.UserInfo.name = msg.pre_payload[\"First Name\"] + \" \" + msg.pre_payload[\"Last Name\"];\nmsg.UserInfo.reference = \"\";\n\nmsg.headers = {};\nmsg.headers.Authorization = \"Bearer \" +user.key;\nmsg[\"Content-Type\"] = \"application/json\";\n\nmsg.payload = msg.UserInfo;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1400,"wires":[["3850268c.2af9da"]]},{"id":"3850268c.2af9da","type":"http request","z":"30b997c4.1ae098","name":"Create User","method":"POST","ret":"obj","paytoqs":false,"url":"https://feedback.int.amdtelecom.net/api/v1/users","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":1400,"wires":[["9787e165.ad8bb"]]},{"id":"9787e165.ad8bb","type":"debug","z":"30b997c4.1ae098","name":"USER","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":1340,"wires":[]},{"id":"d73f63da.7165e","type":"inject","z":"30b997c4.1ae098","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1580,"wires":[["91d70b45.cc30d8"]]},{"id":"91d70b45.cc30d8","type":"function","z":"30b997c4.1ae098","name":"Init","func":"msg.pre_payload = {}\nmsg.pre_payload[\"New employee&#39;s personal e-mail\"] = \"sandronikos@amdtelecom.net\";\nmsg.pre_payload[\"First Name\"] = \"Demo\";\nmsg.pre_payload[\"Last Name\"] = \"Ignore\";\n\nvar user = {};\nuser.email = \"can@amdtelecom.net\";\nuser.key = \"Mf14XrE0cHvpfTsieWJGH1CS6q39mErfAhnkNWdNsikJ6AKVI9FdQ7rQdXh75aGj\";\n\n\n// End of Load\nmsg.UserInfo = {};\nmsg.UserInfo.email = msg.pre_payload[\"New employee&#39;s personal e-mail\"];\nmsg.UserInfo.name = msg.pre_payload[\"First Name\"] + \" \" + msg.pre_payload[\"Last Name\"];\nmsg.UserInfo.reference = \"\";\n\nmsg.headers = {};\nmsg.headers.Authorization = \"Bearer \" +user.key;\nmsg[\"Content-Type\"] = \"application/json\";\n\nmsg.payload = msg.UserInfo;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1580,"wires":[["5602c822.7f0508"]]},{"id":"5602c822.7f0508","type":"http request","z":"30b997c4.1ae098","name":"List Users","method":"GET","ret":"obj","paytoqs":false,"url":"https://feedback.int.amdtelecom.net/api/v1/users","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":1580,"wires":[["7c919f77.0bee3"]]},{"id":"7c919f77.0bee3","type":"debug","z":"30b997c4.1ae098","name":"Get USER","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":1580,"wires":[]},{"id":"2ab778d3.271158","type":"function","z":"30b997c4.1ae098","name":"Save Image","func":"var x = {};\nfor(x in msg.payload.filesUpload) {\n    msg.payload.file_name = x;\n    msg.payload.file_data = msg.pre_payload.filesUpload[x];\n    msg.payload.file_size = msg.payload.file_data.length;\n    break;\n}\n\nvar file_type = msg.payload.file_name.split('.');\nvar path_val = 'data:image/jpeg;base64,'+msg.payload.file_data;\n\nif(file_type[1].indexOf(\"png\") > -1)\n    path_val = 'data:image/png;base64,'+msg.payload.file_data;\n\n\nmsg.payload_input = { filename: msg.payload.file_name, path: path_val };\nmsg.attachments = [];\nif (msg.payload.file_size > 4) {\n    msg.attachments.push(msg.payload_input);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["17550b7b.9c9b45","634d3f.116652c"]]},{"id":"c798736b.b86ce","type":"debug","z":"30b997c4.1ae098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":60,"wires":[]},{"id":"86a5a6c1.455538","type":"function","z":"30b997c4.1ae098","name":"Init","func":"msg.post = msg.payload;\nmsg.pre_payload = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":180,"wires":[["2ab778d3.271158"]]},{"id":"634d3f.116652c","type":"debug","z":"30b997c4.1ae098","name":"IMG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":200,"wires":[]},{"id":"a1ac5f0d.a2a08","type":"inject","z":"30b997c4.1ae098","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1780,"wires":[["7f15c32b.68854c"]]},{"id":"7f15c32b.68854c","type":"function","z":"30b997c4.1ae098","name":"Init","func":"msg.pre_payload = {}\nmsg.pre_payload[\"New employee&#39;s personal e-mail\"] = \"sandronikos@amdtelecom.net\";\nmsg.pre_payload[\"First Name\"] = \"Demo\";\nmsg.pre_payload[\"Last Name\"] = \"Ignore\";\n\nvar user = {};\nuser.email = \"can@amdtelecom.net\";\nuser.key = \"Mf14XrE0cHvpfTsieWJGH1CS6q39mErfAhnkNWdNsikJ6AKVI9FdQ7rQdXh75aGj\";\n\n\n// End of Load\nmsg.UserInfo = {};\nmsg.UserInfo.email = msg.pre_payload[\"New employee&#39;s personal e-mail\"];\nmsg.UserInfo.name = msg.pre_payload[\"First Name\"] + \" \" + msg.pre_payload[\"Last Name\"];\nmsg.UserInfo.reference = \"\";\n\nmsg.headers = {};\nmsg.headers.Authorization = \"Bearer \" +user.key;\nmsg[\"Content-Type\"] = \"application/json\";\n\nmsg.payload = msg.UserInfo;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1780,"wires":[["31a079df.0174f6"]]},{"id":"31a079df.0174f6","type":"http request","z":"30b997c4.1ae098","name":"Version","method":"GET","ret":"obj","paytoqs":false,"url":"https://feedback.int.amdtelecom.net/api/v1/ver","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":1780,"wires":[["d5cc3d37.1d74e"]]},{"id":"d5cc3d37.1d74e","type":"debug","z":"30b997c4.1ae098","name":"Ver.","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":1780,"wires":[]}]